@model IEnumerable<Mission>

    <form class="form-inline mb-3 mission__form forms">
        <input minlength="1" id="missionForm" required type="text" name="name" value="" placeholder="Задача"
               class="form-control mr-3 mission__form-input" />
        <a role="button" class="btn btn-primary mission__form-button" onclick="addMission()">
            +
        </a>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Задание</th>
                <th scope="col">Время добавления</th>
                <th scope="col">Статус выполнения</th>
                <th scope="col">Tab_id</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var op in Model)
        {
    <tbody>
        <tr>
            <td>@op.Name</td>
            <td>@op.Add_Time</td>
            <td>
                <form action="/" method="post">
                    <input asp-for="@op.Complete"
                           type="checkbox"
                           name="name"
                           value="false" />
                </form>
            </td>
            <td>
                @op.Tab_Id
            </td>
            <td>
                <a onclick="deleteMission(@op.Id)">
                    Удалить
                </a>
            </td>

        </tr>
    </tbody>
        }

    </table>